<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028764125995-klg6qj7ncsnqott1ur81o4ir22q3vt9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028764125995-klg6qj7ncsnqott1ur81o4ir22q3vt9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCy6eJ6SGHv8UH99KLQTKQUIVHpbcL9dGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1028764125995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skromanglobal.app</string>
	<key>PROJECT_ID</key>
	<string>skroman-54b39</string>
	<key>STORAGE_BUCKET</key>
	<string>skroman-54b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028764125995:ios:cf8cf4bdf5c98259</string>
	<key>DATABASE_URL</key>
	<string>https://skroman-54b39.firebaseio.com</string>
</dict>
</plist>